.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FCE8F0;
    border-top: 1px solid #F3BFC4;
    border-radius: 0 0 10px 10px;
}

.input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #BC8DA7;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 2px 4px rgba(188, 141, 167, 0.15);
    transition: border-color 0.3s ease;
}

.input-container input[type="text"]:focus {
    border-color: #E36397;
}

.input-container button {
    background-color: #E36397;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.input-container button:hover {
    background-color: #bc5a7f;
}
