.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
}

.nav-logo {
    height: 50px;
    width: auto;
    margin-right: auto;
}

.nav-item {
    margin-left: 5%;
    font-size: 25px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.nav-item:hover {
    background-color: white;
}
