input[type="date"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #D9D9D9; /* subtle neutral */
    border-radius: 4px;
    background-color: #EFF2EF; /* soft background */
    color: #333;
}

.register-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(227, 99, 151, 0.1); /* subtle pink shadow */
    background-color: #FFFFFF;
    text-align: center;
}

.register-button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: #E36397; /* primary pink */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #BC8DA7; /* softer hover */
}
