.user-list {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #EFF2EF;
    overflow-x: hidden;
}

.user-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.user-list li {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin-bottom: 10px;
    border: 2px solid #BC8DA7;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(188, 141, 167, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.user-list li:hover {
    background-color: #FCE8F0;
}

.user-list li.selected-user {
    background-color: #E36397;
    border: 2px solid #E36397;
    color: white;
    box-shadow: 0 4px 8px rgba(227, 99, 151, 0.3);
}

.user-list img {
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.user-list p {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    color: #333;
}

@media (max-width: 768px) {
    .user-list {
        max-height: 80vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .user-list ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }

    .user-list li {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 33vw;
        padding: 10px;
        border: 2px solid #BC8DA7;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(188, 141, 167, 0.1);
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .user-list img {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }

    .user-list p {
        font-size: 14px;
    }
}
