.user-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.user-list img {
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.user-list p {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}