.user-list {
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFF2EF;
    overflow-x: hidden;
}

.user-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.user-list li {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(188, 141, 167, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.user-list li:hover {
    background-color: #FCE8F0;
}

.user-list li.selected-user {
    background-color: #E36397;
    border: 2px solid #E36397;
    color: white;
    box-shadow: 0 4px 8px rgba(227, 99, 151, 0.3);
}

.user-list img {
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.user-list p {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    color: #333;
}

@media (max-width: 768px) {
    .user-list {
        width: 100%;
        max-height: 88vh;
        overflow-y: auto;
        padding: 0;
        background-color: #EFF2EF;
        display: flex;
        flex-direction: column;
    }
    
    .user-list ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .user-list li {
        display: flex;
        align-items: center;
        transition: background-color 0.2s ease;
        width: 84%;
    }
    
    .user-list li:hover {
        background-color: #f2f2f2;
    }
    
    .user-list li.selected-user {
        background-color: #E36397;
        color: white;
    }
    
    .user-list img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 12px;
        flex-shrink: 0;
    }
    
    .user-list p {
        margin: 0;
        font-size: 16px;
        color: inherit;
        word-break: break-word;
    }
    
}
