.user-page {
    padding: 5%;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #EFF2EF;
    color: #333;
}

.user-headboard {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #D9D9D9;
}

.user-profilepicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #BC8DA7;
}

.user-profilepicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name-interaction {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name-interaction h1 {
    font-size: 24px;
    font-weight: bold;
    color: #E36397;
}

.user-stats {
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #BC8DA7;
}

.user-bio {
    font-size: 14px;
    color: #777;
}

.user-posts {
    margin-top: 20px;
}

.user-posts h1 {
    font-size: 18px;
    font-weight: bold;
    color: #E36397;
}

.user-posts img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    border: 2px solid #F3BFC4;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(227, 99, 151, 0.1);
}

@media only screen and (max-width: 600px) {
    .user-posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        justify-content: center;
    }

    .user-posts img {
        width: 100%;
        height: auto;
        max-width: 100px;
        max-height: 100px;
        object-fit: cover;
    }

    .user-page {
        margin-top: 7%;
    }
}
