.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  height: 85vh;
  margin: 0;
}

.message-window {
  flex: 4;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow: auto;
}

.users-window {
  flex: 1;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
